@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.progress-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.progress-bar {
    width: 0;
    height: 30px;
    background-color: #3498db; /* Default color */
    text-align: center;
    line-height: 30px;
    color: white;
    margin: 5px 0;
    transition: width 0.5s ease-in-out;
}


